$gap: 20px;

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h2 {
    margin-bottom: 24px;
  }

  .recommend {
    margin-bottom: 24px;
  }

  .recommend > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: $gap;
  }

  .all > ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(20% - $gap), auto));
    gap: $gap;
    font-size: 14px;

    h3 {
      font-size: 16px;
    }
  }
}
