.container {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-bottom: 1px solid var(--borderColor);

  &:is(:first-child) {
    border-top: 1px solid var(--borderColor);
  }
}

.top {
  font-size: 14px;
}
.mid {
  display: flex;
  gap: 10px;
  color: rgb(180, 180, 180);
  font-size: 14px;
}

.bottom {
  border-radius: 5px;
}

.delete_wrap {
  button {
    text-decoration: underline;
    color: rgb(180, 180, 180);

    &:disabled {
      cursor: default;
    }
  }
}
