html,
body {
  padding: 0;
  margin: 0;
  background-color: $bgColor;
  color: $fontColor;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
