.search {
  h2 {
    margin-bottom: 24px;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
  }

  hr {
    margin-bottom: 24px;
    color: linear-gradient(
      90deg,
      rgba(229, 9, 20, 0.5887605042016807) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(229, 9, 20, 0.5887605042016807) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    height: 3px;
    border: 0;
  }
}
