.modal {
  padding: 32px;
  margin: auto;
  max-width: 600px;
  background-color: var(--bgColor);
  border-radius: 5px;
  border: none;
  box-shadow: var(--borderColor) 0px 1px 4px, var(--borderColor) 0px 0px 0px 3px;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.7);
}
