:root {
  --bgColor: rgb(0, 0, 0);
  --fontColor: rgb(255, 255, 255);
  --primaryColor: rgb(229, 9, 20);
  --primaryDarkColor: color-mix(in srgb, var(--primaryColor), #000 10%);
  --borderColor: rgb(68, 68, 68);
  --borderOutlineColor: color-mix(in srgb, var(--borderColor), #000 10%);
  --buttonColor: rgb(68, 68, 68);
}

html,
body {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  color: var(--fontColor);
  background: var(--bgColor);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
